<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jqk.ijkplayerlibrary">

    <application>
        <activity android:name=".music.MusicPlayerActivity"></activity>

        <activity android:name=".video.VideoPlayerActivity"></activity>

    </application>
</manifest>
