<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jqk.jetpacklibrary">

    <application>
        <activity android:name=".JetPackActivity"></activity>
        <activity android:name=".navigation.NavigationActivity">

        </activity>
        <activity android:name=".navigation.NavigationUIActivity">

        </activity>
        <activity android:name=".paging.PagingActivity">

        </activity>
        <activity android:name=".paging.bypage.ByPageActivity">

        </activity>
        <activity android:name=".paging.byitem.ByItemActivity">

        </activity>
        <activity android:name=".room.RoomActivity">

        </activity>
        <activity android:name=".workmanager.WorkManagerActivity">

        </activity>
        <activity android:name=".databinding.DBTestActivity"></activity>
        <activity android:name=".viewmodel.ViewModelActivity"></activity>
    </application>
</manifest>
